body 
{ 
background-color: rgb(48, 47, 47); 
} 

.inicio
{
text-align: center;
    color: crimson;
    font-size: 100px;
    font-family:noto sans;
    text-decoration: underline;
}

.texto
{
    text-align: center;
    color: rgb(248, 246, 246);
    font-family:comic sans ms;
    font-size:30px;
}

.texto2
{
    text-align: center;
    color: rgb(255, 253, 254);
    font-family:comic sans ms;
    font-size: 30px;
}

.imagen

{

display: block;

margin: auto;

width: 500px;

height: 300px;

border: 9px solid rgb(22, 21, 21);

}

.botones
{
    text-align: center;
    margin-top: 30px;
}

.botones a
{
    background-color: crimson;
    color: white;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

.botones a:hover
{
    background-color: white;
    color: crimson;
}