body { 
background-color: rgb(48, 47, 47); 
}

#inicio {
    text-align: center;
    color: crimson;
}

#texto{
    text-align: center;
    color: rgb(247, 242, 243);
}

#texto2{
    text-align: center;
    color: rgb(247, 242, 243);
}